/*mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.nav__right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  gap: 2em;
}

.hero {
  background: url("../../../images/banner-01.jpg");
  height: 100vh;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  background: url("../images/contact-us.jpg") no-repeat center center/cover, fixed;
  background-attachment: fixed;
  height: 100%;
}

.header {
  margin-top: 10%;
}

.contact__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  padding: 10%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-bottom: 20px;
  gap: 4em;
  background-color: white;
  margin-bottom: 10%;
  padding: 20px;
}

.form input {
  margin: 2em;
  padding: 4em 4em;
}
.form .submit {
  background-color: aqua;
  border: none;
  padding: 20px;
  border-radius: 20%;
}

.container {
  background-color: black;
}

.about {
  background: url(/images/pexels-fauxels-3183150.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin-top: -10px;
  color: rgb(7, 245, 7);
  background-color: black;
  gap: 4em;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
  background-color: black;
}

.why__us {
  color: white;
  margin-top: 5em;
  margin-bottom: 5em;
}