* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/*mixin*/
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.nav__right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  gap: 2em;
}

.hero {
  background: url("../../../images/banner-01.jpg");
  height: 100vh;
}

.hero h1 {
  padding-top: 5em;
  font-size: 3em;
  color: #fff;
}

.footer__section {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 4em 2em;
  margin-top: 50px;
}

.email button {
  text-align: center;
  background-color: #f35525;
  padding: 2em 4em;
  border: none;
}

.email {
  background-color: whitesmoke;
  border: none;
}

.email input {
  outline: none;
}

.type {
  padding: 2em 2em;
  border: none;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 2em;
}

.introduction h6 {
  color: #ee626b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-orange {
  display: inline-block;
  background-color: #f35525;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.btn-orange a:hover {
  color: #f35525;
}

.btn-orange a:hover i {
  color: #fff;
}

.btn-black {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.btn-black a:hover {
  background-color: #f35525;
  color: #fff;
}

.section__three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
}

.info__table {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  width: 30%;
  line-height: 3;
  margin-top: 2em;
}

.info__table ul {
  list-style-type: none;
  gap: 2rem;
}

.section__three img {
  align-items: center;
}

.section__three p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.nav__right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
}

.nav__right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  gap: 2em;
}

.hero__properties {
  background: url("../../../images/page-heading-bg.jpg");
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.btn-white {
  background-color: fff;
  color: black;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.desires {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 2em;
}

.item__apartment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.item__apartment--one {
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  width: 30%;
  line-height: 3;
  margin-top: 2em;
}

.item__apartment--one ul {
  list-style-type: none;
  gap: 2em;
}

.item__apartment__one--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.btn-plum {
  display: inline-block;
  background-color: plum;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border: none;
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 5vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}

@keyframes display {
  0% {
    transform: translatex(200px);
    opacity: 0;
  }
  10% {
    transform: translatex(0);
    opacity: 1;
  }
}
.item__laptop--two {
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  width: 30%;
  line-height: 3;
  margin-top: 2em;
}

.item__laptop--two ul {
  list-style-type: none;
  gap: 2em;
}

.item__laptop__two--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.item__phone--three {
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  width: 30%;
  line-height: 3;
  margin-top: 2em;
}

.item__phone--three ul {
  list-style-type: none;
  gap: 2em;
}

.item__phone__three--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}