@use "../../utilities/mixin" as *;
@use "../../utilities/variable" as *;

.hero {
    background: url("../../../images/banner-01.jpg");
    height: 100vh;

}

.hero h1{
    padding-top: 5em;
    
    font-size: 3em;
    color:#fff;
    
}