@use "../../utilities/mixin" as *;
@use "../../utilities/variable" as *;

.about__content {
  @include flex(space-between, stretch);
  gap:2em;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  line-height: 2;
  border: 6px solid lightgray;
  margin-top: 7em;
  
  .about__content--1 {
    flex: 1;
    background: url("../../../images/about-pic.jpg") no-repeat center
      center/cover;
  }
  .about__content--2 {
    flex: 1;
  }
}
@media screen and (max-width:872px){
  .about__content{
    @include flex(space-between, stretch,column);

  }

}

