@use"../../utilities/mixin" as *;
@use"../../utilities/variable" as *;


.container{background-color:white;
  @include flex(center,center)
    
   
  }
  .about{
    margin-top:20px;
    text-align:center;
    padding: 2em 4em;

  }
  .Why__us{
    @include flex(center,center,column)
  }
  