@use "../../utilities/mixin" as *;
@use "../../utilities/variable" as *;

.container{
  @include flex(center,center,column);
  background:url("../../../images/contact-us.jpg") no-repeat center center/cover,fixed;
  background-attachment:fixed;
  height:fit-content;
  }
.header{margin-top:5px ;
@include flex(center,center)
}

 .contact__right{
  @include flex (center,center,column);
  margin-right:70%;

 } 

 .social{
  @include flex(center,center, space-around);
  gap:4em;
  padding: 20px;

 }

.form{
margin-left: -70vw;

 input{
   margin:2em 0;
   padding:2em;
 }

 
}
.livechat{
  @include flex(center,center,column);
  gap:4em;
  margin-right: -50vw;
  margin-top: -50vw;
  color:greenyellow;
}
.submit{
  background-color: aqua;
  border: none;
  padding:1rem 2rem;
  margin-left: 4rem;
  border-radius:20%;
 }
.time{
  @include flex(center,center,space-around);
  gap:10rem;
  height:fit-content
.map-container{
  width:100%;
  height:400px;
  margin:20px 0;
  border:2px solid gray;
}
}